<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=Test;Persist Security Info=True;User ID=mobot;Password=mobot"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
